@import "~bootstrap/scss/bootstrap.scss";

.footer{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: black;
    color: white;
}

.container1{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 60px;
}
