@import "~bootstrap/scss/bootstrap.scss";

.jumbotron{
    margin: auto;
    margin-top: 90px;
}
.footer{
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: black;
    color: white;
}
.container-fluid{
    margin: auto;
    padding-right: 50px;
    padding-left: 50px;
}