@import "~bootstrap/scss/bootstrap.scss";

.jumbotron{
    margin-top: 90px;
}
.footer{
    margin-top: 15px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
    background-color: grey;
    color: white;
}
.container-fluid{
    padding-left: 50px;
    padding-right: 50px;
}